// @import 'session/summary';
@import 'session/lesson';
// @import 'session/review';

// Session Layout:
//
//   #question
//     #summary-button
//     #stats
//     #character
//     #question-type
//     #answer-form
//   #additional-content
//   #information

.character-header {
    @extend %no-background-image;
    @include sheet(10);

    @each $item in 'radical', 'kanji', 'vocabulary' {
        // header item background and foreground
        &.character-header--#{$item} {
            @include character($item, $inverted: true);

            // session header
            .character-header__content {
                background-color: inherit !important;
                color: inherit !important;

                .character-header__characters {
                    background-color: inherit !important;
                    color: inherit !important;
                }
            }
        }

        // #last-items [class*="#{$item}"] [lang="ja"]:first-child {
        //     @include character($item);
        // }
    }
}

.components-list {
    @each $item in radical, kanji, vocabulary {
        a[class$=#{$item}] {
            @include character($item);
        }
    }

    .component-character__characters {
        @extend %shadowless;
    }

    .component-character__meaning {
        color: $text-color !important;
    }

    li::after {
        text-shadow: none !important;
    }
}

form.user-note__form {
    @extend %no-background-color;

    a.user-note__button {
        color: $text-color;
    }
}

button.reading-with-audio__control {
    @extend %shadowless;
    @extend %no-background-color;
}

// session status header
.character-header__menu {
    color: $paper-white !important;

    div, i, .summary-button {
        @extend %shadowless;
        color: inherit !important;
    }
}

// hotkeys in lower right corner
.hotkeys-menu, .hotkeys-menu__header, .chat-button {
    @extend %button;
}

// question type, reading or meaning
.quiz-input__question-type-container {
    @extend %borderless;
    @include sheet(9);

    &[data-question-type="reading"] {
        @extend %reading;
    }

    &[data-question-type="meaning"] {
        @extend %meaning;
    }
}

@each $x in 'true', 'false' {
    .character-header__srs-container[data-went-up="#{$x}"] {
        .character-header__srs-content {
            background-color: $shade-black;
            color: progress-color($x) !important;

            i, div {
                @extend %shadowless;
                @extend %inherited-color;
            }
        }
    }
}

// input field for answer
.quiz-input__input-wrapper {
    @include sheet(8);

    .quiz-input__input-container {
        padding: 0 !important;

        @each $x in 'true', 'false' {
            &[correct="#{$x}"] {
                input[type=text][enabled=false] {
                    background-color: progress-color($x) !important;
                }

                button {
                    @extend %no-background-color;
                }
            }
        }
    }

    input {
        @extend %borderless;
        @extend %shadowless;
        @extend %no-background-color;

        border-radius: 0 !important;
        color: $answer-text-color !important;
    }

    button {
        @extend %no-background-color;
        @extend %borderless;
        @extend %shadowless;

        //height: 2.3em !important;

        i {
            color: $answer-text-color !important;
        }
    }
}

// lesson wrapup, last items, item info, kana chart and pronounciation
#additional-content {
    @include sheet(6, $charcoal-grey);

    height: 100% !important;
    margin: 0 !important;
    padding: 0 !important;

    // make sure the list items are aligned nicely
    ul.additional-content__menu {
        align-items: center !important;
        display: flex !important;
        margin: 0 !important;

        // indicate that the wrapup function is active
        .additional-content__item--wrap-up.additional-content__item--active {
            span, span:hover::before, span::before {
                background-color: $charcoal-grey !important;
            }

            strong, i {
                text-shadow: 0 0 10px $icon-orange !important;
            }
        }

        // options
        li > a {
            @extend %no-background-color;
            @extend %shadowless;
            @extend %borderless;

            z-index: 7 !important;

            // up arrow
            &::after {
                border-bottom-color: $shade-black !important;
                bottom: -25px !important;
                color: $shade-black !important;
            }

            // scss-lint:disable SelectorDepth
            [class*="-icon"] {
                box-shadow: none !important;
            }
        }
    }
}

// answer exception popup
.answer-exception {
    background-color: $popover-background-color !important;
    border-radius: 5px;
    box-shadow: $answer-exception-shadow !important;

    &::before {
        display: none !important;
    }
}

// last ten items in the review queue
#last-items li a {
    @extend %popover;

    background-color: $charcoal-grey !important;
    color: $text-color;

    @each $item in 'radical', 'kanji', 'vocabulary' {
        .last-item__characters--#{$item} {
            @include character($item);
        }
    }

    .last-item__label {
        opacity: 0.4;
    }

    .last-item__value {
        color: inherit;
    }
}

// information about the current item
#information {
    @extend %section;

    color: $text-color;
    z-index: 8 !important;
}

#subject-info {
    i {
        @extend %shadowless;
    }

    h2 {
        border-bottom-color: $separator-color !important;

        a {
            color: $text-color !important;
        }
    }
}

aside.wk-hint, aside.subject-hint {
    @extend %popup;

    margin-right: 2px;

    i {
        @extend %shadowless;
    }
}

.user-note__character-count i {
    @extend %shadowless;
}

a.user-synonyms__button {
    @extend %button;
}

li.user-synonyms__item a {
    @extend %button;

    &:not(:hover) i {
        @extend %no-background-color;
    }
}

// hiragana chart
// TODO: this doesn't look great, don't remember how it looked before
#kana-chart {
    .kana-chart__tabs {
        border-bottom: 1px solid $separator-color !important;
    }

    .kana-chart__tab--selected {
        border: {
            bottom: none !important;
            left: 1px solid $separator-color !important;
            right: 1px solid $separator-color !important;
            top: 1px solid $separator-color !important;
        }
    }

    .kana-chart__tab {
        @extend %no-background-color;
        @extend %shadowless;

        border-radius: 0 !important;

        &:hover {
            background-color: $section-color !important;
            filter: brightness(0.8) !important;
        }
    }
}

#last-items[busy]::after, #subject-info[busy]::after {
    background-color: $section-color !important;
}
